.Rproj.user
.Rhistory
*.RData
*.rds
.Ruserdata
RNASeq/README.html
*.html
*.bim
*.fam
*.eigenvec
*.eigenval
*.mds
RNASeq/PilotData/FairfaxScienceLPSDE.txt
eQTL/All_Sig_Results_eQTL.txt
RNASeq/Full_transcript_metadata.txt
eQTL/GEX_PCs.txt
eQTL/Normalised_GEX_data.txt
eQTL/ShinyApp/pairwise_LD.ld.gz
eQTL/Gene_snp_pairs.txt
eQTL/MAF_Comparison.txt
GWAS/*
gwas-association-downloaded_2018-03-27-type II diabetes.tsv.txt
eQTL/Trans_eQTL.pdf
eQTL/sample_info.txt
eQTL/ShinyApp/Gene_info.txt
eQTL/ShinyApp/Significant_trans_eQTL_Bonferroni.txt
eQTL/ShinyApp/SNP_pos.txt
RNASeq/PilotData/Pilot_RNA_seq_results_files/*
RNASeq/PilotData/PilotRNA-hisat_counts_all-summary.txt
RNASeq/PaxGeneCohort/fastqQAreport/*
RNASeq/PilotData/PilotRNA-hisat-count-data.txt